﻿@model AGLDeveloperTest.ViewModels.CatGroupingViewModel
<h1>Cat Names Grouped By Owner Gender</h1>

@if (Model != null)
{
    foreach (var ownerGroup in Model.OwnerGenders)
    {
        <ul class="list-group">
            <li class="list-group-item active">@ownerGroup.Gender</li>
            @foreach (var cat in ownerGroup.Cats)
            {
                <li class="list-group-item">@cat.Name</li>
            }
        </ul>
    }
}