﻿<div id="root"></div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/react/js/app.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/react/js/vendor.bundle.js"></script>
}