﻿@using AGLDeveloperTest.Models
@helper IsActive(MenuItem menuItem)
{
    if (menuItem == ViewBag.ActiveMenuItem)
    {
        @( "active")
    }
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="@IsActive(MenuItem.AspNet_Mvc)" )>@Html.ActionLink("ASP.NET MVC", "Index", "Home")</li>
        <li class="@IsActive(MenuItem.ReactJS)" )>@Html.ActionLink("React.js", "React", "Home")</li>
    </ul>
</div>
